<div class="app">

  <h1>Nested Object</h1>

  <div class="field" *ngFor="let property of flattenedObject">

    <div class="field__label">{{ property.key }}</div>

    <div class="field__value" [ngSwitch]="property.type">
      <input *ngSwitchCase="'boolean'" type="checkbox" [checked]="property.value"/>
      <input *ngSwitchCase="'string'"type="text" [value]="property.value"/>
      <input *ngSwitchCase="'number'"type="number" [value]="property.value"/>
    </div>

  </div>

</div>
