.app {
  width: 80%;
  max-width: 500px;
  background-color: white;
  margin: 2rem auto;
  padding: 2rem;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-size: 1.5rem;

  &__label {
    width: 20px;
    text-align: right;
    margin-right: 1rem;
  }
  &__value {
    width: 95%;
  }
}
