body {
  background-color: whitesmoke;
}

body * {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

input[type="text"], input[type="number"]{
  color: darkslategray;
  height: 2rem;
  font-size: 1.2rem;
  padding: .5rem;
  width: inherit;
}
